/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@500&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* 
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Source Code Pro", monospace;
*/
:root {
  --white-text: #ffffff;
}
/* Background */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.home {
  padding: 20px 0;
  width: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    200deg,
    #92024a 0%,
    #a001d1 70%,
    #5d5050 100%
  );
}
/* Nav bar */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.nav-ul {
  width: 50%;
  height: 50px;
  background: #1c131f9f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  margin-top: 2%;
  padding: 0px;
  text-align: center;
  
}
.scroll-header{
   background: #ffffffce;
   color: #000;
}
.nav-ul li {
  list-style: none;
  color: var(--white-text);
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  font-size: 19px;
  width: 50px;
  border-bottom: 1px solid transparent;
}
.nav-ul li:hover {
  transition: 300ms all linear;
  border-bottom: 1px solid #fff;
}
.home-container {
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.text-container {
  background-color: #0000001d;
  border-radius: 10px;
  color: var(--white-text);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.539);
}
.text-container h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  color: #5bffd6;
}
.text-container h2 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.image-container {
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.image-container img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.profile-text {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 40px;
  font-family: "poppins", sans-serif;
  color: var(--white-text);
  background-color: #050505c3;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 600ms all ease-in;
  z-index: 100;
  opacity: 0;
}
.image-container:hover .profile-text {
  top: 0px;
  left: 0px;
  font-size: 100px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: rotate(360deg);
  z-index: 10;
}
.short-intro {
  height: auto;
  width: 100%;
 background-color: #3f3f3f;
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  padding-top: 20px;
  font-family: "poppins";
  font-size: 45px;
  color: #1ab3ff;
}
.text-head{
  width: 70%;
}
.text-head p {
  margin-bottom: 0;
}
.text-head p {
  text-align: justify;
  padding: 13px 50px;
  font-family: "Poppins", sans-serif;
  color: #8e8989;
  font-weight: 300;
}
.text-head p b {
  font-weight: 900;
}
/* about */
.about {
  height: auto;
  width: 100%;
  background-color: #3f3f3f;
}
.skill {
  width: 100%;
  height: 100%;
}
.skill-set {
  padding: 10px;
  border-radius: 10px;
  background-color: #346dfc31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  height: 150px;
  width: 150px;
}
.skill-set:hover {
  transition: 300ms linear all;
  box-shadow: 0px 0px 10px rgb(111, 152, 249), 0px 0px 15px rgb(36, 106, 247);
}
.skill .skill-logo {
  display: block;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Project */
.project {
  height: auto;
  width: 100%;
 background-color: #3f3f3f;
  padding: 10px;
}

.project-box {
  height: 220px;
  width: 300px;
  margin: 10px 4px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(160deg, #929192f7 0%, #5a5a5ad6 80%);
  position: relative;
  transition: 300ms linear all;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 70px;
  left: 0;
  border-radius: 6px;
  background-color: #3b353573;
  transition: 300ms ease-in all;
  opacity: 0;
}
.project-box:hover .layer {
  opacity: 1;
  top: 0;
  left: 0;
}
.layer .bi-arrow-up-right-circle-fill {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 35px;
  color: var(--white-text);
}
.layer .bi-suit-heart-fill {
  color: var(--white-text);
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 35px;
}
.layer .bi:hover {
  transition: 300ms linear all;
  color: #36d4e6;
  animation: bounce 1s 1 linear;
}
.project-box img {
  width: 285px;
  height: 160px;
}
.row {
  margin: 0px;
}
.project-box h3 {
  color: var(--white-text);
  text-align: center;
  text-transform: capitalize;
}
/* Contact */
.contact {
  width: 100%;
  background-color: #513c3c;
  position: relative;
}
.contact-sub {
  display: flex;
  justify-content: space-evenly;
}
form {
  width: 60%;
}
.form-img {
  width: 300px;
  height: 392px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
}

/* mobile responsive */
@media only screen and (max-width: 576px) {
  .nav-ul li {
    font-size: 15px;
  }

  .text-container h1 {
    font-size: 45px;
  }
  .text-container h2 {
    font-size: 25px;
  }
  /* short intro */
  .text-head p {
    padding: 20px 10px;
  }
  .skill-set {
    height: 200px;
    width: 200px;
  }
  .skill .skill-logo {
    height: 130px;
    width: 130px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-sub {
    flex-direction: column-reverse;
    align-items: center;
  }
  form {
    width: 80%;
  }
}
/* Tablet responsive */
@media only screen and (max-width: 992px) {
  .nav-ul {
    width: 70%;
  }
  .home-container {
    flex-direction: column-reverse;
  }
}
/* Keyframes Animations */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-2px);
  }
}
